<div class="container-fluid">
    <button type="button" class="close" aria-label="Close" (click)="closeDetailComponent()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h5>user Detail</h5>
    <ul>
        <li>ID: {{ userDetail.id }}</li>
        <li>Name: {{ userDetail.name }}</li>
        <li>Surname: {{ userDetail.surname }}</li>
        <li>Age: {{ userDetail.age }}</li>
        <li>Date of birth: {{ userDetail.dateOfBirth | date: "dd MMM yyyy" }}</li>
    </ul>
    <h5>Address</h5>
    <ul>
        <li>City: {{ userDetail.address.city }}</li>
        <li>Street: {{ userDetail.address.street }}</li>
        <li>PostalCode: {{ userDetail.address.postalCode }}</li>
    </ul>
    <h5>Profile</h5>
    <ul>
        <li>Role: {{ userDetail.role }} </li>
        <li>username: {{ userDetail.username }}</li>
        <li><img src="{{ userDetail.profilePhotoUrl }}" alt="profilePhotoUrl"></li>
        <li>Gender: {{ userDetail.gender }}</li>
    </ul>
    <ul *ngFor="let item of userDetail.companies">
        <li><strong>Company: {{ item.name }}</strong></li>
        <li>Description: {{ item.description }}</li>
    </ul>
</div>