<div class="container-fluid">
    <h5>User Detail</h5>
    <ul>
        <li>ID: {{ user.id }}</li>
        <li>Name: {{ user.name }}</li>
        <li>Surname: {{ user.surname }}</li>
        <li>Age: {{ user.age }}</li>
        <li>Date of birth: {{ user.dateOfBirth | date: "dd MMM yyyy" }}</li>
    </ul>
    <h5>Address</h5>
    <ul>
        <li>City: {{ user.address.city }}</li>
        <li>Street: {{ user.address.street }}</li>
        <li>PostalCode: {{ user.address.postalCode }}</li>
    </ul>
    <h5>Profile</h5>
    <ul>
        <li>Role: {{ user.role }} </li>
        <li>Username: {{ user.username }}</li>
        <li><img src="{{ user.profilePhotoUrl }}" alt="profilePhotoUrl"></li>
        <li>Gender: {{ user.gender }}</li>
    </ul>
    <ul *ngFor="let item of user.companies">
        <li><strong>Company: {{ item.name }}</strong></li>
        <li>Description: {{ item.description }}</li>
    </ul>
</div>